<div class="row-fluid" id="profile_side">
  <div class="span3">
 <!--   <div id="wrap">
    <%	@user.photos.profile_pics.each do |p|  %>
                       <%	 if p == @user.photos.profile_pics.first %>
         <%=	 image_tag p.image_url(:profpic), :width => 250, :height => 250, :class => 'is-showing'  %>
                <%	 else %>
        <%	end  %>

      <%	end  %>

    </div> -->
 <div class="profile_side">  <div id="profile_pic_box"> 
   <!--  <% if current_user %>
            <% if @user.id == current_user.id %>
                <%=  form_for @user.photos.new , :html => { :multipart => true , :id =>'avatar_form' } do |f| %>
                    <%= f.file_field :image %>
                    <%= f.submit 'Submit' %>
                <%   end %>
                <a href="#" onclick="return false;" onmousedown="toggleElement('avatar_form');">Change Profile Photo</a>
            <% end %>
        <% end %>  -->
            <%  @user.photos.profile_pics.each do |p|  %>
                       <%  if p == @user.photos.profile_pics.first %>
         <%=   image_tag p.image_url(:profpic), :width => 250, :height => 250, :class => 'is-showing'  %>
                <%   else %>
        <%  end  %>

      <%  end  %>
      </div>
    <h3><%= @user.full_name %></h3>
     </div>
  </div>
  <div class="span9" id="content">

    <div id="pill-bar">
      <ul>
        <li class="active"><a href="#">Profile</a></li>
        <li class="inactive"><a href="#">Friends</a></li>
        <li class="inactive"><a href="#">Photos</a></li>
        <li class="inactive"><a href="#">Videos</a></li>
        <li class="inactive"><a href="#">Quotes</a></li>

      </ul>
    </div>

    <div id="pill-content">

      <h6>Profile</h6>

      <section>
        <% if current_user %>
            <%=	 render 'posts/form' %>
        <% end %>
        <ul id="profile_posts">
          <% @all_posts.reverse.each do |post| %>

              <li
              <% if @user != post.user %>
          <!--    style="background-color: <%= post.user.profile.post_color.to_s %>"  -->
              <% end %>

              <% if @user.posts.last == post %>
              class="first"
              <% end %>
              >
                <%= image_tag "", :width => 80, :height => 80 %>
                <%=h link_to post.user.full_name, :controller => 'users', :action => 'show', :username => post.user.username %>
                <span style="float: right"><%= time_ago_in_words(post.created_at) %> ago</span>


                <div class="post_mess"><%= post.content %></div>
              </li>
          <% end %>
        </ul>

      </section>

      <h6>Friends</h6>

      <section>Tab 2 Content </section>

      <h6>Photos</h6>
<section>
        <%=	 link_to 'Add Photo', controller: 'photos', action: 'new' %> <br/>
        <% @user.photos.each do |photo|  %>
            <div class="photo">
              <%=	link_to (image_tag photo.image_url(:profile)) , photo if photo.image %>
            </div>
        <%	 end %>



      </section>
     
      <h6>Videos</h6>

      <section>Tab 4 Content</section>
      <h6>Quotes</h6>


      <section>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad architecto aut blanditiis dolore et eum, expedita facilis ipsa iste laboriosam obcaecati officia provident quod sapiente sequi similique suscipit voluptatum.</section>
    </div>
  <!--  <div class="tabbable">
     <ul class="nav nav-tabs" id="proftabs">
      <li><a href="#profile_tab"  data-toggle="tab" >Profile</a></li>
      <li><a href="#friends_tab" data-toggle="tab">Friends</a></li>
      <li><a  href="#photos_tab" data-toggle="tab">Photos</a></li>
      <li><a  href="#videos_tab" data-toggle="tab">Videos</a></li>
      <li><a  href="#quotes_tab" data-toggle="tab">Quotes</a></li>

   </ul>
      <div class="tab-content">
            <div id="profile_tab" class="tab-pane">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid excepturi id, maxime nesciunt recusandae repellat unde veritatis! Eveniet, fugiat, ipsum. Architecto assumenda, culpa impedit molestias natus porro quisquam repudiandae sunt!
            </div>
        <div id="friends_tab"  class="tab-pane">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis cupiditate incidunt. Accusantium adipisci architecto dignissimos eligendi est explicabo ipsa molestiae nesciunt optio porro provident, sint soluta, tempore temporibus vitae?
        </div>
        <div id="photos_tab"  class="tab-pane">
          <%= @user.photos.each do |photo|  %>
          <div class="photo">
            <%=	 image_tag photo.image_url if photo.image %>
          </div>
          <%	 end %>
        </div>
        <div id="videos_tab"  class="tab-pane">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem dolore, dolorum eaque earum eius, id in iste molestias officia, possimus qui quis recusandae repellat reprehenderit suscipit voluptatum!
        </div>
        <div id="quotes_tab"  class="tab-pane">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur, in necessitatibus qui quidem tenetur unde voluptatum! Aspernatur dolorem earum id labore molestiae nam quas quisquam, sapiente sequi ut voluptatibus.
        </div>
      </div>
      <script>
          $(document).ready(function() {

              $("#proftabs a:first").tab('show')

          });
      </script>
    </div>  -->
  </div>
</div>
