<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'RapidNomadic' %></title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= stylesheet_link_tag  "profile" %>
  <%= stylesheet_link_tag  "posts" %>
  <%= stylesheet_link_tag  "friendships" %>
  <%= javascript_include_tag "profile" %>
  <%# javascript_include_tag "application" %>

  <%=	 javascript_include_tag 'posts' %>
  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
      function _(x) {
          return document.getElementById(x);
      }

      function toggleElement(x) {
          var x = _(x);
          if (x.style.display == 'block') {
              x.style.display = 'none';
          }
          else {
              x.style.display = 'block';
          }
      }
  </script>
  <!--  <script type="text/javascript">



        $(document).ready(function(){

            $('li').click(function(){
                var number = $(this).index();
                $('#pill-content h6').hide().eq(number).show();
                $('#pill-content section').hide().eq(number).show();
                $(this).toggleClass('active inactive');
                $('li').not(this).removeClass('active').addClass('inactive');
            });

            $('#pill-content h6').not(':first').hide();
            $('#pill-content section ').not(':first').hide();

        });

        $(function () {
            $('#new_photo').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo(document.body);
                    });
                }
            });
        });
    </script>   -->

</head>
<body>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="<%=	 root_url %>"><%=	 image_tag 'logo_opt.gif', :mouseover => 'logohover_opt.png', :width => '50px', :height => '40px' %><%=	 image_tag 'Untitled-2letters_opt.png', height: '40px' %></a>

    <form class="navbar-search pull-left">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <ul class="nav">
      <li>
        <%= link_to 'World Wall', :controller => 'pages', :action => 'world_wall' %>
      </li>
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">ComeToChat</a></li>
      <li>
        <%= link_to "Games", :controller => 'games', :action => 'index' %>
      </li>
    </ul>

    <ul class="nav pull-right">
      <% if current_user %>

          <li class="dropdown"><a href="#" id="menubar_drop" role="button" class="dropdown-toggle" data-toggle="dropdown"><%=  image_tag current_user.profile(:menubar).to_s %> <%=  "#{current_user.full_name}" %><strong style="color: white" class="caret"></strong></a>

            <ul class="dropdown-menu" role='menu'>
              <li role="presentation"><%=	 link_to 'View My Profile', profile_for(current_user) %></li>
              <li>
                <h3> Friend Requests </h3>
                <ul id="requested_friends_list">
                  <%   current_user.requested_friends.each do |rf| %>
                      <div class="friendship_friend">
                        <li>   <%=   image_tag rf.profile(:menubar) %>   <%=  link_to rf.full_name, profile_for(rf) %>
                          <%=  link_to 'Accept', {:controller => 'friendships', action: 'accept', :id => rf.id } , class: 'btn btn-info' %>
                        </li>
                      </div>
                  <%   end %>
                </ul>
              </li>
            </ul>

          </li>
          <li class="divider-vertical"></li>
          <li><%=	 link_to 'Log Out', logout_path %></li>
      <% else %>
          <li><%=	 link_to 'Register', register_path %></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a  href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Log In <b class="caret"></b></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <%=	 render 'sessions/form' %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
      <a class="close" data-dismiss="alert" >x</a>
      <%= msg %>
    </div>
<% end %>
<div id="globalContainer">
  <div id="content">
    <div id="mainContainer">
      <div id="leftCol">


      </div>
      <div id="contentCol">
        <div id="contentArea">
          <!-- start content -->
          <div id="content2">
            <%= yield %>
            <!--  <div class="tabbable">
               <ul class="nav nav-tabs" id="proftabs">
                <li><a href="#profile_tab"  data-toggle="tab" >Profile</a></li>
                <li><a href="#friends_tab" data-toggle="tab">Friends</a></li>
                <li><a  href="#photos_tab" data-toggle="tab">Photos</a></li>
                <li><a  href="#videos_tab" data-toggle="tab">Videos</a></li>
                <li><a  href="#quotes_tab" data-toggle="tab">Quotes</a></li>

             </ul>
                <div class="tab-content">
                      <div id="profile_tab" class="tab-pane">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid excepturi id, maxime nesciunt recusandae repellat unde veritatis! Eveniet, fugiat, ipsum. Architecto assumenda, culpa impedit molestias natus porro quisquam repudiandae sunt!
                      </div>
                  <div id="friends_tab"  class="tab-pane">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis cupiditate incidunt. Accusantium adipisci architecto dignissimos eligendi est explicabo ipsa molestiae nesciunt optio porro provident, sint soluta, tempore temporibus vitae?
                  </div>
                  <div id="photos_tab"  class="tab-pane">
                    []        </div>
                  <div id="videos_tab"  class="tab-pane">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem dolore, dolorum eaque earum eius, id in iste molestias officia, possimus qui quis recusandae repellat reprehenderit suscipit voluptatum!
                  </div>
                  <div id="quotes_tab"  class="tab-pane">
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur, in necessitatibus qui quidem tenetur unde voluptatum! Aspernatur dolorem earum id labore molestiae nam quas quisquam, sapiente sequi ut voluptatibus.
                  </div>
                </div>
                <script>
                    $(document).ready(function() {

                        $("#proftabs a:first").tab('show')

                    });
                </script>
              </div>  -->
          </div>
          <!-- end content -->
        </div>
        <div id="rightCol">

        </div>
      </div>

    </div>
  </div>
</div>


</body>
</html>
