<!DOCTYPE html>
<html>
<head>
  <title><%=  content_for?(:title) ? yield(:title) : 'RapidNomadic' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
        <%=	 stylesheet_link_tag "users" %>
  
  <%# javascript_include_tag "application" %>
  <%= javascript_include_tag "menubar" %>
<%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= yield :head %>


</head>
<body>
<%= render "shared/menu" %>

<% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
      <a class="close" data-dismiss="alert" >x</a>
      <%= msg %>
    </div>
<% end %>

<%= yield %>

</body>
</html>
