<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'RapidNomadic' %></title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
<%= stylesheet_link_tag  "profile" %>
<%= javascript_include_tag "profile" %>
  <%# javascript_include_tag "application" %>
  
  <%=	 javascript_include_tag 'posts' %>
<%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript">
      $(document).ready(function() {
          alert('hi');
          $('.popover-but').popover();
      });

      function _(x) {
          return document.getElementById(x);
      }
      function bio() {
          var x = _('user_bio_text');
          var two = _('user_info_bio');
           toggleElement(x);
          toggleElement(two);
          /*if (two.style.display == 'block') {
              two.style.display = 'none';
          }
          else {
              two.style.display = 'block';
          }
          if (x.style.display == 'block') {
              x.style.display = 'none';
          }
          else {
              x.style.display = 'block';
          } */
      }
      function toggleElement(x) {
          var x = _(x);
          if (x.style.display == 'block') {
              x.style.display = 'none';
          }
          else {
              x.style.display = 'block';
          }
      }
  </script>
<!--  <script type="text/javascript">



      $(document).ready(function(){

          $('li').click(function(){
              var number = $(this).index();
              $('#pill-content h6').hide().eq(number).show();
              $('#pill-content section').hide().eq(number).show();
              $(this).toggleClass('active inactive');
              $('li').not(this).removeClass('active').addClass('inactive');
          });

          $('#pill-content h6').not(':first').hide();
          $('#pill-content section ').not(':first').hide();

      });

      $(function () {
          $('#new_photo').fileupload({
              dataType: 'json',
              done: function (e, data) {
                  $.each(data.result.files, function (index, file) {
                      $('<p/>').text(file.name).appendTo(document.body);
                  });
              }
          });
      });
  </script>   -->

</head>
<body>


<%= render "shared/menu" %>

<% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? 'success' : 'error' %>">
      <a class="close" data-dismiss="alert" >x</a>
      <%= msg %>
    </div>
<% end %>
<div id="globalContainer">
  <div id="content">
    <div id="mainContainer">
      <div id="leftCol" class="profile_side">
        <div id="profile_pic_box">
          <% if current_user %>
              <% if @user.id == current_user.id %>
                  <%=  form_for @user, :html => { :multipart => true , :id =>'avatar_form' } do |f| %>
                      <%= f.file_field :avatar, accept: 'image/jpeg, image/png, image/gif' %>
                      <%= f.submit 'Change' %>
                  <%   end %>
                  <a href="#" onclick="return false;" class='btn btn-inverse' onmousedown="toggleElement('avatar_form');">Change Profile Photo</a>
              <% end %>
          <% end %>
          <%=	 image_tag @user.avatar_url(:medium)  %>
        </div>
        <h3><%= @user.full_name %></h3>

        <% if current_user %>
            <% if current_user and current_user.id == @user.id %>
                <%=	 friendship_status(@user,current_user) %>
            <% else %>
                <%=  sent_status(current_user,@user)  %>
            <% end %>
        <% end %>


        <% if current_user %>
            <%	 unless Friendship.exists?(current_user, @user) or current_user == @user %>
                <%= form_for Friendship.new do |f| %>
                    <%= f.hidden_field :friend_id, :value => @user.id  %>
                    <%= f.submit "Add #{@user.first_name} as a Friend" , :confirm =>
                            "Send friend request to #{@user.full_name}?", class: 'btn btn-info'  %>
                <% end %>
                <%	 end %>
        <% end %>
        <% if current_user && current_user.requested_friends.include?(@user) %>
            <%=	 link_to 'Accept', {:controller => 'friendships', action: 'accept', :id => @user.id } , class: 'btn btn-info' %>
<%	 end %>
            <% if current_user and current_user == @user %>
            <h2> Friend Requests </h2>
            <ul id="requested_friends_list">
              <%	 @user.requested_friends.each do |rf| %>
                  <div class="friendship_friend">
                    <li>   <%=	 image_tag rf.avatar_url(:menubar) %>   <%=	link_to rf.full_name, profile_for(rf) %>
                      <%=	 link_to 'Accept', {:controller => 'friendships', action: 'accept', :id => rf.id } , class: 'btn btn-info' %>
                    </li>
                  </div>
              <%	 end %>
            </ul>
        <% end %>
         <h3 class="bottom-not-name">Info</h3>
        <% if current_user == @user %>
            <%=	 form_for @user_info do |f| %>
                       <%=	 f.text_area :bio %>
                <%=	 f.submit 'Update', :id => "submit_bio", :class => 'btn btn-inverse' %>
                <%	 end %>
        <% end %>

        <p class="info-para" id="user_bio_text" style="display: block;">
          <%= @user.user_info.bio.to_s %><br/> <a href="#" onclick="return false;" class="btn btn-inverse" onmousedown="toggleElement('user_info_bio');toggleElement('user_bio_text');toggleElement('submit_bio');">Change Bio</a></p>
      </div>
      <div id="contentCol">
        <div id="contentArea">
          <!-- start content -->
          <div id="content2">
            <%= yield %>
            <!--  <div class="tabbable">
               <ul class="nav nav-tabs" id="proftabs">
                <li><a href="#profile_tab"  data-toggle="tab" >Profile</a></li>
                <li><a href="#friends_tab" data-toggle="tab">Friends</a></li>
                <li><a  href="#photos_tab" data-toggle="tab">Photos</a></li>
                <li><a  href="#videos_tab" data-toggle="tab">Videos</a></li>
                <li><a  href="#quotes_tab" data-toggle="tab">Quotes</a></li>

             </ul>
                <div class="tab-content">
                      <div id="profile_tab" class="tab-pane">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid excepturi id, maxime nesciunt recusandae repellat unde veritatis! Eveniet, fugiat, ipsum. Architecto assumenda, culpa impedit molestias natus porro quisquam repudiandae sunt!
                      </div>
                  <div id="friends_tab"  class="tab-pane">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corporis cupiditate incidunt. Accusantium adipisci architecto dignissimos eligendi est explicabo ipsa molestiae nesciunt optio porro provident, sint soluta, tempore temporibus vitae?
                  </div>
                  <div id="photos_tab"  class="tab-pane">
                    []        </div>
                  <div id="videos_tab"  class="tab-pane">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto at autem dolore, dolorum eaque earum eius, id in iste molestias officia, possimus qui quis recusandae repellat reprehenderit suscipit voluptatum!
                  </div>
                  <div id="quotes_tab"  class="tab-pane">
                         Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur, in necessitatibus qui quidem tenetur unde voluptatum! Aspernatur dolorem earum id labore molestiae nam quas quisquam, sapiente sequi ut voluptatibus.
                  </div>
                </div>
                <script>
                    $(document).ready(function() {

                        $("#proftabs a:first").tab('show')

                    });
                </script>
              </div>  -->
          </div>
          <!-- end content -->
        </div>
        <div id="rightCol">
       <h2>No New Friends?</h2>
             <%	 User.all.each do |u| %>
        <% unless u == current_user %>
            <div class="side-user-box">
              <%= link_to (thumb(u, 60, 60)), profile_for(u)  %>
            <p><%=	 link_to u.full_name, profile_for(u) %></p>
            </div>
        <% end %>
          <%	 end %>
        </div>
      </div>

    </div>
  </div>
</div>


</body>
</html>
